<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Enter key</label>
      <input type="text" name="q" class="form-control" id="search-input"  placeholder="Enter your key...">
    </div>

    <div class="form-group">
      <label for="gender-input">Từ Khoá</label>
      <select  name="gender" class="form-control" id="gender-input" >
        <option value="">Chọn GIới Tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>